<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Milkis Clicker</title>
    <style>
        body {
            background-color: #708090;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        #score {
            margin-top: 60px;
            font-size: 80px;
            margin-bottom: 20px;
        }
        #image {
            max-width: 70%;
            transition: transform 0.4s ease;
        }
    </style>
</head>
<body>
    <div id="score">0</div>
    <img id="image" src="../static/milkis.png" alt="Milkis Image">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const tg = window.Telegram.WebApp;
        const defaultUrl = "https://1e33-194-50-13-161.ngrok-free.app";

        async function fetchClicks() {
            try {
                const userId = tg.initDataUnsafe.user.id;
                const response = await fetch(`/get_clicks?id=${userId}`);
                const data = await response.json();
                return data.clicks;
            } catch (error) {
                console.error("Ошибка при получении кликов:", error);
                return 0;
            }
        }

        async function fetchData(endpoint, data) {
            try {
                const response = await axios.post(`${defaultUrl}/${endpoint}`, data);
                return response.data;
            } catch (error) {
                console.error("Error fetching data:", error);
                return null;
            }
        }

        async function init() {
            let clicks = await fetchClicks();
            console.log("Текущий счёт:", clicks);

            const scoreElement = document.getElementById('score');
            scoreElement.textContent = clicks;
            const imageElement = document.getElementById('image');

            async function increaseScore() {
                clicks++;
                scoreElement.textContent = clicks;
                imageElement.style.transform = 'scale(0.9)';
                setTimeout(() => {
                    imageElement.style.transform = 'scale(1)';
                }, 100);
                const response = await fetchData('click', { id: tg.initDataUnsafe.user.id });
            }

            imageElement.addEventListener('click', increaseScore);
        }


        init();

    </script>
</body>
</html>